################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EMS/dist
/EMS/dist
/EMS/node_modules/ag-grid/dist
/EMS.DataAccessLayer/bin/Debug
/EMS.ApiService/bin
/EMS/bin
