  <div class="row">
    <div class="col-md-12">
      <ba-card cardTitle="Add Location" baCardClass="with-scroll">
        <div class="form-group row">
          <label for="locationName" class="col-md-2 control-label">Name</label>

          <div class="col-md-10">
            <input type="text" class="form-control" id="locationName" [(ngModel)]="locationModel.Location" placeholder="Location Name">
          </div>
        </div>
        <div class="form-group row">
          <label for="description" class="col-md-2 control-label">Description</label>

          <div class="col-md-10">
            <textarea placeholder="Description" class="form-control" id="description" [(ngModel)]="locationModel.Description"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-2 control-label"></div>

          <div class="col-md-10">
            <button type="submit" class="btn btn-primary">Add Location</button>
            
          </div>
        </div>

        <div class="form-group row">
        <div class="col-md-3 control-label">
          <a routerLink="/pages/supplementry/locationDetails">Back To LocationList</a>

        </div>
          
        <div class="col-md-11">
          
        </div>
    </div>


    </ba-card>
  </div>
  </div>














