<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EMSEntities" connectionString="metadata=res://*/DataEntityModel.EMSTransaction.csdl|res://*/DataEntityModel.EMSTransaction.ssdl|res://*/DataEntityModel.EMSTransaction.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=REETPC;initial catalog=EMS;user id=sa;password=password1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>